[Unit]
Description=CODESYS 3 runtime
After=network.service
After=ipc-discovery-server.service
Wants=ipc-discovery-server.service

[Service]
Type=simple
#PIDFile=/var/run/codesys3.pid
ExecStart=/usr/bin/codesys3
#EnvironmentFile=/etc/systemd/codesys3.env

[Install]
WantedBy=multi-user.target
