[Unit]
Description=WSC server for OPC UA services
After=ipc-discovery-server.service
Wants=ipc-discovery-server.service

[Service]
Type=simple
ExecStart=/usr/bin/wscserver

[Install]
WantedBy=multi-user.target

