# We'll use defaults from the Google style, but with 4 columns indentation.
BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 120
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AllowShortFunctionsOnASingleLine: None
DerivePointerAlignment: true
PointerAlignment: Left
