BODY,H1,H2,H3,H4,H5,H6,P,CENTER,TD,TH,UL,DL,DIV {
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
BODY,TD {
       font-size: 90%;
}
H1 {
	text-align: center;
       font-size: 160%;
}
H2 {
       font-size: 120%;
}
H3 {
       font-size: 110%;
}
CAPTION { font-weight: bold }
DIV.qindex {
	width: 18cm;
	background-color: #eeeeff;
	border: 1px solid #b0b0b0;
	text-align: center;
	margin: 2px;
	padding: 2px;
	line-height: 140%;
}
DIV.nav {
	width: 18cm;
	background-color: #eeeeff;
	border: 1px solid #b0b0b0;
	text-align: center;
	margin: 2px;
	padding: 2px;
	line-height: 140%;
}
A.qindex {
       text-decoration: none;
       font-weight: bold;
       color: #1A419D;
}
A.qindex:visited {
       text-decoration: none;
       font-weight: bold;
       color: #1A419D
}
A.qindex:hover {
	text-decoration: none;
	background-color: #ddddff;
}
A.qindexHL {
	text-decoration: none;
	font-weight: bold;
	background-color: #6666cc;
	color: #ffffff;
	border: 1px double #9295C2;
}
A.qindexHL:hover {
	text-decoration: none;
	background-color: #6666cc;
	color: #ffffff;
}
A.qindexHL:visited { text-decoration: none; background-color: #6666cc; color: #ffffff }
A.el { text-decoration: none; font-weight: bold }
A.elRef { font-weight: bold }
A.code:link { text-decoration: none; font-weight: normal; color: #0000FF}
A.code:visited { text-decoration: none; font-weight: normal; color: #0000FF}
A.codeRef:link { font-weight: normal; color: #0000FF}
A.codeRef:visited { font-weight: normal; color: #0000FF}
A:hover { text-decoration: none; background-color: #f2f2ff }
DL.el { margin-left: -1cm }
.fragment {
       font-family: monospace
}
PRE.fragment {
	border: 1px solid #CCCCCC;
	background-color: #f5f5f5;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 2px;
	margin-right: 8px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}
DIV.ah { background-color: black; font-weight: bold; color: #ffffff; margin-bottom: 3px; margin-top: 3px }
TD.md { background-color: #F4F4FB; font-weight: bold; }
TD.mdSmall { background-color: #F4F4FB; font-size: small font-weight: bold; }
TD.mdPrefix {
       background-color: #F4F4FB;
       color: #606060;
	font-size: 80%;
}
TD.mdname1 { background-color: #F4F4FB; font-weight: bold; color: #602020; }
TD.mdname { background-color: #F4F4FB; font-weight: bold; color: #602020; width: 18cm; }
DIV.groupHeader {
       margin-left: 16px;
       margin-top: 12px;
       margin-bottom: 6px;
       font-weight: bold;
}
DIV.groupText { margin-left: 16px; font-style: italic; font-size: 90% }
DIV.Text {
	margin-left: 16px;
	font-style: italic;
	font-size: 90%;
	width: 18cm;
}
BODY {
	background: white;
	color: black;
	margin-right: 20px;
	margin-left: 20px;
}
TD.indexkey {
	background-color: #eeeeff;
	font-weight: bold;
	padding-right  : 10px;
	padding-top    : 2px;
	padding-left   : 10px;
	padding-bottom : 2px;
	margin-left    : 0px;
	margin-right   : 0px;
	margin-top     : 2px;
	margin-bottom  : 2px;
	border: 1px solid #CCCCCC;
}
TD.indexvalue {
	background-color: #eeeeff;
	font-style: italic;
	padding-right  : 10px;
	padding-top    : 2px;
	padding-left   : 10px;
	padding-bottom : 2px;
	margin-left    : 0px;
	margin-right   : 0px;
	margin-top     : 2px;
	margin-bottom  : 2px;
	border: 1px solid #CCCCCC;
}
TR.memlist {
   background-color: #f0f0f0; 
}
P.formulaDsp { text-align: center; }
IMG.formulaDsp { }
IMG.formulaInl { vertical-align: middle; }
SPAN.keyword       { color: #008000 }
SPAN.keywordtype   { color: #604020 }
SPAN.keywordflow   { color: #e08000 }
SPAN.comment       { color: #800000 }
SPAN.preprocessor  { color: #806020 }
SPAN.stringliteral { color: #002080 }
SPAN.charliteral   { color: #008080 }
SPAN.define        {
	color: #9932CC;
}
SPAN.Section       { color: Red }
SPAN.SectionKursiv { color: Red; font-style:italic; }
SPAN.red           { color: Red }
SPAN.green         { color: Green }
SPAN.yellow        { color: Yellow }
SPAN.orange        { color: Orange }
SPAN.purple        { color: Purple }
SPAN.olive         { color: Olive }
SPAN.whiteonblack  { color: white; background-color:Black  }
SPAN.blue          { color: Blue }
SPAN.redBig           { color: Red; font-size:150% }
SPAN.greenBig         { color: Green; font-size:150% }
SPAN.yellowBig        { color: Yellow; font-size:150% }
SPAN.blueBig          { color: Blue; font-size:150% }
SPAN.redKursiv     { color: Red; font-style:italic; }
SPAN.yellowKursiv  { color: Yellow; font-style:italic; }
SPAN.blueKursiv    { color: Blue; font-style:italic; }
SPAN.greenKursiv   { color: Green; font-style:italic; }
SPAN.redBigKursiv     { color: Red; font-size:150%; font-style:italic; }
SPAN.yellowBigKursiv  { color: Yellow; font-size:150%; font-style:italic; }
SPAN.blueBigKursiv    { color: Blue; font-size:150%; font-style:italic; }
SPAN.greenBigKursiv   { color: Green; font-size:150%; font-style:italic; }
SPAN.hint
{
  font-weight: bold;
  font-size: 105%;
  text-transform: none;
  color: maroon;
  font-style: italic;
  font-variant: normal;
}
TABLE.header {
	height: auto;
	padding: 0 0 0 0;
	table-layout: fixed;
	width: auto;
	border: 0;
	background: #FF0033;
}
TABLE.footer {
	height: auto;
	padding: 0 0 0 0;
	table-layout: fixed;
	width: auto;
	border: 0;
	background: #FF0033;
}
TABLE.Separator {
	height: auto;
	padding: 0 0 0 0;
	table-layout: fixed;
	width: auto;
	border: 0;
	background: #CCCCCC;
}

TABLE.Diff {
	height: auto;
	width: auto;
	border: 0;
	border-color: Black Black Black Black;
	padding: 0 0 0 0;
}

TR.DiffRow {
	height: auto;
	width: auto;
	background: #FF8C00;
	background-color: #FF8C00;
	text-align: center;
	vertical-align: middle;
}

TR.DiffFirstRow {
	height: auto;
	width: auto;
	background: #FFE4C4;
	background-color: #FFE4C4;
	text-align: center;
	vertical-align: middle;
}
.Selection
  { background-color:#DDFFFF; width:300px; border:6px solid #DDDDDD; }
.Check, .Radio
  { background-color:#DDFFFF; border:1px solid #DDDDDD; }
.Button
  { background-color:#AAAAAA; color:#FFFFFF; width:200px; border:6px solid #DDDDDD; }
.mdTable {
	border: 1px solid #868686;
	background-color: #F4F4FB;
  page-break-before: always;
  img: top.gif;
	width: auto;
}
.mdRow
{
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 8px;
  padding-top: 8px;
}
.mdescLeft {
	padding: 0px 8px 4px 8px;
	font-size: 80%;
	font-style: italic;
	background-color: #CCFFFF;
	border-top: 1px none #00CED1;
	border-right: 1px none #00CED1;
	border-bottom: 1px none #00CED1;
	border-left: 1px none #00CED1;
	margin: 0px;
	text-align: left;
	width: auto;
}
.mdescRight {
	padding: 0px 8px 4px 8px;
	font-size: 80%;
	font-style: italic;
	background-color: #CCFFFF;
	border-top: 1px none #00CED1;
	border-right: 1px none #00CED1;
	border-bottom: 1px none #00CED1;
	border-left: 1px none #00CED1;
	margin: 0px;
	text-align: left;
	width: auto;
}
.memItemLeft {
	padding: 1px 0px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #D4D4D4;
	font-size: 80%;
	width: auto;
	text-align: left;
}
.memItemRight {
	padding: 1px 8px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #D4D4D4;
	font-size: 80%;
	width: auto;
	text-align: left;
	border-color: #D4D4D4 #D4D4D4 #D4D4D4 #D4D4D4;
}
.memTemplItemLeft {
	padding: 1px 0px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #FAFAFA;
	font-size: 80%;
	text-align: left;
}
.memTemplItemRight {
	padding: 1px 8px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #FAFAFA;
	font-size: 80%;
	text-align: left;
	width: 18cm;
}
.memTemplParams {
	padding: 1px 0px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
       color: #606060;
	background-color: #FAFAFA;
	font-size: 80%;
}
.search     { color: #003399;
              font-weight: bold;
}
FORM.search {
              margin-bottom: 0px;
              margin-top: 0px;
}
INPUT.search { font-size: 75%;
               color: #000080;
               font-weight: normal;
               background-color: #eeeeff;
}
TD.tiny      { font-size: 75%;
}
a {
	color: #252E78;
}
a:visited {
	color: #3D2185;
}
.dirtab { padding: 4px;
          border-collapse: collapse;
          border: 1px solid #b0b0b0;
}
TH.dirtab { background: #eeeeff;
            font-weight: bold;
}
HR { height: 1px;
     border: none;
     border-top: 1px solid black;
	  width: auto;
}
