image @IMAGE@ {
    vfat {
        extraargs="-n downgrade"
        file downgrade.mlo--nand { image = "mlo--nand"}
        file downgrade.barebox.img { image = "barebox.img"}
        file recovery { image = "recovery"}
        file downgrade.bin.pfc200 { image = "downgrade.bin.pfc200" }
    }
    name = downgrade
    size = 64M
}
