image @IMAGE@ {
	vfat {
		extraargs="-n 7761676F"
		# for first startup during development.
		# remove the mlo file when we are finished
		# with the pac device.
		file mlo { image = "MLO.am33xx-pac-768-330x" }
		file mlo.pac100 { image = "MLO.am33xx-pac-768-330x" }
		file barebox.bin.pac100 { image = "barebox.bin.am33xx-pac-768-330x" }
	}
	name = boot-mlo
	size = 16M
}
