image @IMAGE@ {
	vfat {
		extraargs="-n BOOT -i 7761676F"
		file mlo.pfc100 { image = "barebox-am33xx-pfc-750-810x-mlo.img"}
		file mlo.pfc200 { image = "barebox-am35xx-pfc-750-820x-mlo.img"}
		file mlo.pfc200v2 { image = "barebox-am33xx-pfc-750-8208-mlo.img"}
		file mlo.pfc200v3 { image = "barebox-am33xx-pfc-750-821x-mlo.img"}
		file barebox.bin.pfc100 { image = "barebox-am33xx-pfc-750-810x.img" }
		file barebox.bin.pfc200 { image = "barebox-am35xx-pfc-750-820x.img" }
		file barebox.bin.pfc200v2 { image = "barebox-am33xx-pfc-750-8208.img" }
		file barebox.bin.pfc200v3 { image = "barebox-am33xx-pfc-750-821x.img" }
		file uImage { image = "uImage" }
	}
	name = boot-mlo
	size = 16M
}
