flash nand-256MiB-128kiB-data {
	pebsize = 131072
	lebsize = 129024
	numpebs = 1654
	minimum-io-unit-size = 2048
	vid-header-offset = 512
	sub-page-size = 512
}

image @IMAGE@ {
	ubi {}
	flashtype = "nand-256MiB-128kiB-data"
	partition rootfs0 {
		image = "ubi_rootfs.ubifs"
	}
	partition rootfs1 {
		image = "ubi_rootfs.ubifs"
	}
	partition home {
		image = "ubi_home.ubifs"
	}
	partition boot {
		image = "ubi_boot.ubifs"
		autoresize = true
	}
}

image ubi_rootfs.ubifs {
	ubifs {}
	# size is 800 in LEBs
	size = 100800k
	mountpoint = "/"
}

image ubi_home.ubifs {
	ubifs {}
	# size is 522 in LEBs
	size = 65772k
	mountpoint = "/home"
}

image ubi_boot.ubifs {
	# use autoresize
	size = 40M
	ubifs {
		# size is 350 PEBs in LEBs
		# max-size = 44100k
	}
	mountpoint = "/boot"
}
