image @IMAGE@ {
    size = 2048M

    hdimage {
        align = 1M
    }

    partition boot {
        image = boot-emmc.vfat
        partition-type = 0x0C
        bootable = true
	size = 128M
    }

    partition rootfs0 {
        image = root.ext2
        partition-type = 0x83
	size = 192M
    }

    partition rootfs1 {
        image = root.ext2
        partition-type = 0x83
	size = 192M
    }

    partition home {
        image = home.ext3
        partition-type = 0x83
	size = 512M
    }
}

image home.ext3 {
	ext3{}
	size = 512M
	mountpoint = "/home"
}

image boot-emmc.vfat {
	name = boot
	size = 128M
	@VFAT_CONFIG@
}
