image mlo.pfc100 {
	file {
		name = "barebox-am33xx-pfc-750-810x-mlo.img"
	}
}

image mlo.pfc200 {
	file {
		name = "barebox-am35xx-pfc-750-820x-mlo.img"
	}
}

image mlo.pfc200v2 {
	file {
		name = "barebox-am33xx-pfc-750-8208-mlo.img"
	}
}

image mlo.pfc200v3 {
        file {
                name = "barebox-am33xx-pfc-750-821x-mlo.img"
        }
}

image barebox.bin.pfc100 {
	file {
		name = "barebox-am33xx-pfc-750-810x.img"
	}
}

image barebox.bin.pfc200 {
	file {
		name = "barebox-am35xx-pfc-750-820x.img"
	}
}

image barebox.bin.pfc200v2 {
	file {
		name = "barebox-am33xx-pfc-750-8208.img"
	}
}

image barebox.bin.pfc200v3 {
        file {
                name = "barebox-am33xx-pfc-750-821x.img"
        }
}

image uImage {
	file {
		name = "uImage"
	}
}

image root.tgz {
	file {}
}
