image mlo.pfc100 {
	file {
		name = "MLO.am33xx-pfc-750-810x"
	}
}

image mlo.pfc200 {
	file {
		name = "MLO.am35xx-pfc-750-820x"
	}
}

image mlo.pfc200v2 {
	file {
		name = "MLO.am33xx-pfc-750-8208"
	}
}

image mlo.pfc200v3 {
        file {
                name = "MLO.am33xx-pfc-750-821x"
        }
}

image barebox.bin.pfc100 {
	file {
		name = "barebox.bin.am33xx-pfc-750-810x"
	}
}

image barebox.bin.pfc200 {
	file {
		name = "barebox.bin.am35xx-pfc-750-820x"
	}
}

image barebox.bin.pfc200v2 {
	file {
		name = "barebox.bin.am33xx-pfc-750-8208"
	}
}

image barebox.bin.pfc200v3 {
        file {
                name = "barebox.bin.am33xx-pfc-750-821x"
        }
}

image uImage {
	file {
		name = "uImage"
	}
}

image root.tgz {
	file {}
}
