image update.raucb {
	rauc {
		file root.tar.gz { image = "root.tgz" }
				file mlo.src { image = "MLO.am33xx-src-2850-311x"}
				file barebox.bin.src { image = "barebox.bin.am33xx-src-2850-311x" }
		file barebox-compatible-versions { image = "../root/etc/barebox-compatible-versions" }

		manifest = "
			[update]
			compatible=@RAUC_BUNDLE_COMPATIBLE@
			version=@RAUC_BUNDLE_VERSION@
			build=@RAUC_BUNDLE_BUILD@
			description=@RAUC_BUNDLE_DESCRIPTION@

			[hooks]
			filename=hooks.sh
			
			[image.rootfs]
			filename=root.tar.gz
			hooks=pre-install;post-install

			[image.home]
			filename=hooks.sh
			hooks=install

			[image.bootloader]
			filename=barebox-compatible-versions
			hooks=install
			
			"
		cert = "@RAUC_CERT@"
		key = "@RAUC_KEY@"
	}
}
