image @IMAGE@ {
    hdimage {
        align = 8M
        disk-signature = 0x7364
    }
    size = 240M
    partition boot {
        image = boot.vfat
        partition-type = 0x0C
        bootable = true
    }
    partition root {
        image = root.ext2
        partition-type = 0x83
        size = 150M
    }
}
